<% provide(:title, "Редакция на отбор") %>
<h1>Обнови отбора си</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team) do |f| %>
      <%= f.label :name, "Име" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :project_name, "Проект" %>
      <%= f.text_field :project_name, class: 'form-control' %>
      <%= f.label :project_desc, "Описание" %>
      <%= f.text_area :project_desc, class: 'form-control' %>
      <%= f.submit "Запамети промените", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
