<% provide(:title, @team.name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1> Отбор "<%= @team.name %>"</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Проект: <%= @team.project_name %></h3>
      </div>

      <div class="panel-body">
        <h4><%= @team.project_desc %></h4>

        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Капитан:</td>
              <td><%= link_to @captain.name, @captain %></td>
            </tr>
            <tr>
              <td>Членове:</td>
              <td>
                <ul class="list-group">
                <% @members.each do |id| %>
                  <li class="list-group-item"><%= link_to User.find(id).name, User.find(id) %></li>
                <% end %>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Технологии:</td>
              <td>
                <ul class="list-group">
                <% @team.technologies.each do |t| %>
                  <li class="list-group-item"><%= t %></li>
                <% end %>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Стая:</td>
              <td>
                <%= @team.room %>
              </td>
            </tr>
          </tbody>
        </table>

        <% if current_user && (current_user == @captain || current_user.admin?) %>
          <%= link_to "Редактирай", "/teams/#{@team.id}/edit", class: "btn btn-sm btn-primary" %>
          <%= link_to "Изтрий", "/teams/#{@team.id}", method: :delete,
                                      data: { confirm: "Сигурен?" }, class: "btn btn-sm btn-primary" %>
        <% elsif current_user && @team.members_id.include?(current_user.id) %>
          <%= link_to "Напусни", controller: "teams", action: "leave", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
