<% provide(:title, @team.name) %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <h1><%= @team.name %></h1>

        <% if current_user == @captain %>
          <%= link_to "редактирай", "/teams/#{@team.id}/edit" %>
          <%= link_to "изтрий", "/teams/#{@team.id}", method: :delete,
                                      data: { confirm: "Сигурен?" } %>
        <% end %>

        <h2>Проект: <%= @team.project_name %></h2>

        <div class="panel panel-default">
          <div class="panel-heading">Описание:</div>
          <div class="panel-body"><%= @team.project_desc %></div>
        </div>

        <h2>Капитан: <%= link_to @captain.name, @captain %></h2>

        <h2>Членове:</h2>
        <ul class="list-group">
          <% @team.members_id.each do |id| %>
            <li class="list-group-item"><%= link_to User.find(id).name, User.find(id) %></li>
          <% end %>
        </ul>

        <h2>Технологии:</h2>
        <ul class="list-group">
          <% @team.technologies.each do |t| %>
            <li class="list-group-item"><%= t %></li>
          <% end %>
        </ul>
  </div>
</div>
