<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8 team_info">
    <% if @team %>
      <h4>Отбор:</h4>
      <%= link_to @team.name, "/teams/#{@team.id}" %>
    <% else %>
      <h4>Без отбор</h4>
      <% if current_user?(@user) %>
        <%= link_to "Създай", new_team_path %>
      <% elsif @invite.any? %>
        <%= link_to "Отмени покана", {:controller => :teams, :action =>
        :cancel_invite, :from_id => current_user.id, :to_id => params[:id] }%>
      <% elsif @current_user_team.any? %>
        <%= link_to "Покани", {:controller => :teams, :action => :invite,
        :from_id => current_user.id, :to_id => params[:id] }%>
      <% else %>
        <span class="label label-default">
          Създай си отбор, за да поканиш този участник.
        </span>
      <% end %>
    <% end %>
  </div>
</div>
